.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: relative;
}
canvas {
  display: block;
  border: 1px solid black;
}
form {
  width: 100%;
  margin-top: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  margin: 10px;
  flex: 1;
}
input[type="button"],
input[type="submit"] {
  background-color: rgba(149, 204, 87, 0.61);
}
table {
  width: 100%;
  border: 1px solid black;
  height: 67%;
  border-collapse: collapse;
  margin-left: 10px;
  flex: 1;
}
tr,
td {
  border: 1px solid black;
  padding: 7px;
}
th {
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px black;
}
td {
  position: relative;
  text-overflow: ellipsis;
}
.table-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
datalist {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10 0 10; */
  color: black;
  user-select: none;
}
datalist option {
  width: 10px;
}

.vote-range {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.vote-modal {
  display: none;
  position: absolute;
  background-color: rgba(151, 102, 197, 0.288);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.vote-modal-content {
  background-color: rgb(151, 102, 197);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.spin {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
.range-container {
  margin-bottom: 15px;
}
.winner {
  position: absolute;
  display: none;
  background-color: rgba(151, 102, 197, 0.61);
  top: 30%;
  font-size: 35px;
  left: 30%;
  transform: translate(-25%, 0);
}

@media all and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  table {
    margin-left: 0;
  }
}
